__pycache__/
*.pyc
.env*
instance/
.pytest_cache/
silvercloud.db
Gumusbulut/
Scr*.png
Scr1.png
GumusBulut/
flask_session/
.gitignore
DBS*.xls*
Kazanç Raporu - 1.04.2026 06_00_00 - 1.05.2026 06_00_00.xlsx
